@mixin footerMobileStyles{
    .content {
            padding: 15px;
            width: 100%;
            text-align: center;
    
            .nav {
                flex-direction: column;
                gap: 20px;
    
                .list {
                    flex-direction: column;
                    gap: 20px;
    
                    .item {
                        font-size: 14px;
    
                        .link {
                            font-size: 14px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    
        .bottom {
            .social {
                gap: 20px;
    
                .socialLink {
                    font-size: 20px;
                }
            }
    
            .copyright {
                font-size: 12px;
                margin-bottom: 20px;
            }
        }
}