@mixin footerMobileStyles {
    // São aplicados diretamente na .footer porque você inclui este mixin
    padding: 20px 15px;
    background-color: #1F2937; // bg-gray-800
    color: #FFFFFF;

    .footerContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        .navLinks {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .navList {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
        }
    }

    .footerBottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .socialIcons {
            display: flex;
            gap: 20px;
        }
    }
}