@use '../../mobile/components/mobile-Footer.module' as mobile;

.footer {
    background: linear-gradient(90deg, #581C87FF 0%, #1E1B4BFF 100%);
    box-shadow: 0px 0px 1px #171a1f12, 0px 0px 2px #171a1f1F;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;

    .footerContent {
        padding: 20px;
        width: 100%;
        max-width: 1200px;

        .navLinks {
            display: flex;
            justify-content: center;
            gap: 20px;

            .navList {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                gap: 15px;

                .navItem {
                    font-size: 16px;

                    .navLink {
                        color: #FFFFFF;
                        text-decoration: none;
                        transition: color 0.3s;

                        &:hover {
                            color: #FFD700;
                        }
                    }
                }
            }
        }
    }

    .footerBottom {
        .socialIcons {
            gap: 30px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;

            .socialLink {
                color: #FFFFFF;
                transition: color 0.3s;

                &:hover {
                    color: #FFD700;
                }
            }
        }

        .copyright {
            margin-top: 10px;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            color: #9CA3AFFF;
            margin-bottom: 30px;
        }
    }

    @media (max-width: 420px) {

        .footer {
            padding: 20px;

            .footerContent {
                padding: 10px;

                .navLinks {
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;

                    .navList {
                        flex-direction: column;
                        align-items: center;
                        gap: 10px;

                        .navItem {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}