@use '../../mobile/components/mobile-Header.module' as mobile;

.header {
    background: linear-gradient(90deg, #6B21A8FF 0%, #312E81FF 100%);
    border-radius: 0px;
    box-shadow: 0px 0px 1px #171a1f12, 0px 0px 2px #171a1f1F;
    color: #FFFFFF;

    .headerNav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0.5rem 1rem;

        .headerLogo {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 1.5rem;
            font-weight: bold;

            .headerLogoImage {
                width: 80px;
                height: 50px;
                margin: 0;
                vertical-align: middle;
            }

            .headerLogoText {
                display: inline-block;
                vertical-align: middle;
                font-size: 1.5rem;
                line-height: normal;
            }
        }

        .headerNavLinks {
            display: flex;
            align-items: center;
            gap: 2rem;
            font-size: 14px;
            line-height: 20px;
            font-weight: 600;

            .headerNavItem {
                a {
                    text-decoration: none;
                    color: #FFFFFF;
                    padding: 0.5rem 1rem;
                    border-radius: 5px;
                    transition: background-color 0.3s ease;

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.2);
                    }
                }
            }
        }

        .headerAuthButtons {
            display: flex;
            align-items: center;
            gap: 1rem;

            .headerLoginButton {
                padding: 0.5rem 1rem;
                border-radius: 15px;
                font-size: 14px;
                font-weight: 600;
                color: #FFFFFF;
                text-decoration: none;
                background-color: #4F46E5;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.2);
                }
            }

            .headerRegisterButton {
                padding: 0.5rem 1rem;
                border-radius: 15px;
                font-size: 14px;
                font-weight: 600;
                color: #FFFFFF;
                text-decoration: none;
                background-color: #6B21A8;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.2);
                }
            }
        }
    }

    @media (max-width: 410px) {
        @include mobile.headerMobileStyles;

        .headerNav {
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            .headerNavLinks {
                flex-direction: column; // Ajusta os itens para ficarem um abaixo do outro
                justify-content: center;
                gap: 1rem;

                .headerNavItem {
                    a {
                        font-size: 14px;
                        padding: 0.5rem 1rem;
                        text-align: center;
                    }
                }
            }
        }
    }

    @media (max-width: 850px) {
        @include mobile.headerMobileStyles;

        .headerNav {
            flex-direction: column;
            align-items: center;
            gap: 1rem;
        }
    }
}