@use '../../mobile/sobre-o-projeto/mobile-sobre-o-projeto.module' as mobile;

.sobreOProjetoPage {
    // Variáveis de cor para o componente
    $primary-color: #4B79FF;
    $text-color: rgba(0, 0, 0, 0.8);
    $section-bg-color: #f9f9f9;
    $shadow-color: rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .mainContent {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        padding: 20px 0;

        .section {
            width: 1075px;
            padding: 20px;
            border-radius: 8px;
            background-color: $section-bg-color;
            box-shadow: 0 2px 4px $shadow-color;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            .title,
            .subtitle {
                font-family: Archivo, sans-serif;
                font-size: 30px;
                font-weight: 700;
                line-height: 1.5;
                color: $primary-color;
                text-align: center;
            }

            .description {
                width: 100%;
                font-family: Archivo, sans-serif;
                font-size: 18px;
                font-weight: 400;
                line-height: 1.5;
                color: $text-color;
                text-align: center;
            }

            .list {
                width: 100%;
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;

                .listItem {
                    font-size: 18px;
                    line-height: 1.5;
                    font-weight: 400;
                    text-align: center;
                    color: $text-color; // Cor do texto aplicada para consistência
                }
            }
        }
    }
}

@media (max-width: 1038px) {
    .sobreOProjetoPage {
        @include mobile.sobreOProjetoMobileStyles;
    }
}