$primary-color: #3B008D;       // Roxo predominante
$secondary-color: #007BFF;     // Azul para botões e CTA
$background-dark: #121214;     // Fundo escuro para o header e footer
$background-light: #F8F9FA;    // Fundo claro para seções brancas
$accent-color: #28A745;        // Verde de destaque
$text-color: #FFFFFF;          // Texto branco
$text-dark: #333333;           // Texto escuro
$font-primary: 'Roboto', sans-serif; // Fonte principal
$base-spacing: 16px;           // Espaçamento padrão
