.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background-dark;
  color: $text-color;
  height: 90px;
  padding: 10px 200px;
  border: 1px solid wheat;

  .navbar__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $text-color;
    width: 180px;
    height: 100%;

    img {
      margin: 0 10px 0 0;
      width: 80px;
      height: auto;
    }

    span {
      font-family: $font-primary;
      font-size: 20px;
      font-weight: normal;
    }
  }

  .navbar__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    border: 2px solid $text-color;
    height: 100%;
    font-size: 20px;
    white-space: nowrap; // Impede que o texto quebre em várias linhas

    li {
      margin: 0 30px;
    }
  }

  .navbar__actions {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    // border: 2px solid $text-color;    
    width: 300px;
    padding: 20px;

    span {
      font-family: $font-primary;
      font-size: 24;
      border: 2px solid $text-color;
      white-space: nowrap;
    }

    i {
      font-size: 24px;      
      // border: 1px solid red;
    }
  }
}
