// src/styles/App.scss
@import 'variables';

.app-container {
  display: flex;
  min-height: 100vh;
  background-color: $secondary-color;

  .sidebar {
    width: 250px;
    background-color: $primary-color;
    color: white;
    padding: 20px;
  }

  .content {
    flex: 1;
    padding: 20px;
    background-color: white;
  }
}

.header {
  background-color: $secondary-color;
  padding: 15px;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

// Responsividade
@media (max-width: 768px) {
  .app-container {
    flex-direction: column;

    .sidebar {
      width: 100%;
      text-align: center;
    }

    .content {
      padding: 10px;
    }
  }
}
